{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/members">
    
    <section class="avatar">
        
    </section>
        
    <section class="form">

        <h3>novo membro</h3>

        {% include 'members/fields.njk' %}

    </section>
</form>


{% endblock content %}