{% extends "layout.njk" %}

{% block content %}

<div class="card">
   
    <section class="avatar">            
    </section>

    <section class="form">
        <form method="POST" action="/members?_method=PUT">
    
            <h3>Editar instrutor</h3>
    
            {% include 'members/fields.njk' %}
    
            <input 
                type="hidden" 
                name="id"
                value="{{ found_member.id }}"
                >    
        </form>

        <form action="/members?_method=DELETE" method="post">        
            <input 
                type="hidden" 
                name="id"
                value="{{ found_member.id }}">
        
            <button class="button2" type="submit">DELETAR</button>            
        </form>

    </section>

</div>

{% endblock content %}