<div class="item">
    <div>Avatar_url</div>
    <div>
        <input 
            type="url" 
            name="avatar_url_"
            placeholder="https://"
            value="{{ found_instructor.avatar_url_ }}"
        >
    </div>
</div>

<div class="item">
    <div>Nome</div>
    <div>
        <input 
            type="text" 
            name="nome_"
            placeholder="Nome do instrutor"
            value="{{ found_instructor.instrutor_ }}"
        >            
    </div>
</div>

<div class="item">
    <div>E-mail</div>

    <div>
        <input 
            type="text" 
            name="email_"
            placeholder="example@example.com"
            value="{{ found_instructor.instrutor_ }}"
        >            
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>

    <div>
        <input 
            type="date" 
            name="data_de_nascimento" 
            value="{{ found_instructor.data_de_nascimento}}"
        >
    </div>
</div>

<div class="item">
    <div>Sexo</div>

    <div>
        <span>
            <input 
                type="radio" 
                name="sexo_" 
                value="M" 
                {% if found_instructor.sexo_ == "M" %}
                checked
                {% endif %}> Masculino
        </span>
        <span>
            <input 
                type="radio" 
                name="sexo_" 
                value="F" 
                {% if found_instructor.sexo_ == "F" %}
                checked 
                {% endif %}> Feminino
        </span>
    </div>
</div>

<div class="item">
    <div>Tipo Sanguíneo</div>

    <div>
        <select name="blood_">
            <option value="A1"{ % if found_member.blood == "A1" %} selected>A</option>
            <option value="A0"{ % if found_member.blood == "A0" %} selected>A-</option>
            <option value="B1"{ % if found_member.blood == "B1" %} selected>B</option>
            <option value="B0"{ % if found_member.blood == "B0" %} selected>B-</option>
            <option value="AB1"{ % if found_member.blood == "AB1" %} selected>AB</option>
            <option value="AB0"{ % if found_member.blood == "AB0" %} selected>AB-</option>
            <option value="O1"{ % if found_member.blood == "O1" %} selected>O</option>
            <option value="O0"{ % if found_member.blood == "O0" %} selected>O-</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Peso (kg)</div>
    
    <div>
        <input 
            type="number" 
            name="peso_"
            value="{{ found_instructor.area_de_atuacao}}"
        >
    </div>
</div>

<div class="item">
    <div>Altura (metro)</div>

    <div>
        <input 
            type="text" 
            name="altura_"
            value="{{ found_instructor.area_de_atuacao}}"
        >
    </div>
</div>

<button type="submit">SALVAR</button>