{% extends "layout.njk" %}

{% block content %}

<div class="card">
    
    <section class="avatarUrl" style="background: url({{member.avatar_url_}}) center center / cover">
        
    </section>
        
    <section class="form">

        <h3>detalhes</h3>

        <div class="item">
            <div>Nome</div>
            <div>{{member.nome_}}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{ member.data_de_nascimento }}</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>{{ "Masculino" if member.sexo_ == "M" else "Feminino" }}</div>
        </div>

        <div class="item">
            <div>
                <div>E-mail</div>
            </div>
            
            <div>{{ member.email_ }}</div>
        </div>

        <div class="item">
            <div>Tipo Sanguineo</div>
            <div>{{ member.blood_ }}</div>
        </div>

        <div class="item">
            <div>Peso</div>
            <div>{{ member.peso_ }}</div>
        </div>

        <div class="item">
            <div>Altura</div>
            <div>{{ member.altura_ }}</div>
        </div>

        <a href="/members/{{ member.id }}/edit" class="button">EDITAR</a>

    </section>


{% endblock content %}

