@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



:root {
    --color-default: rgb(61, 112, 116);
}

* {
    margin: 0px;
    padding: 0px;
    border: none
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--color-default);
}

header {
    background: white;
    text-align: center;
    padding: 50px;
    border-bottom: 4px solid rgb(0, 0, 0);
}

.links a {
    color: #777;
    text-decoration: none;
    padding: 3px 0;
    margin: 0 25px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    position: relative;
}

.links a.active {
    color: var(--color-default);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background: var(--color-default);
    position: absolute;
    left: 0;
    bottom: 0;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out 300ms;
}

/* ====> CARD */

.card {
    background: white;
    width: 800px;
    min-height: 400px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 8px 8px 20px 5px black;
    animation-name: up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes up {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card .avatar {
    background: url(https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center center / cover;
}

.card .form {
    padding: 20px 30px;
}

.form h3 {
    padding: 12px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 25px;
    color: var(--color-default);
}

.form .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 15px;
}

.form .item:last-child {
    border: none;
}

.form .item div:nth-child(1) {
    font-weight: normal;
    color: rgb(141, 140, 140);
    padding: 2px 0;
}

.form .item div:nth-child(2) {
    font-weight: bold;
}

.form span {
    background-color: rgb(236, 236, 63);
    padding: 4px 24px;
    border-radius: 16px;
    line-height: 40px;
    color: rgb(104, 104, 104)
}


/* ===> CREATE */

input {
    line-height: 25px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    padding: 0 5px;
}

input[type="radio"] {
    width: initial;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.829);
    font-size: 15px;
}

button {
    width: 100%;
    margin: 16px 0 8px 0;
    padding: 6px;
    background: var(--color-default);
    color: white;
    border-radius: 5px;
}

a.button {
    width: 100%;
    margin: 20px 0;
    padding: 6px;
    background: var(--color-default);
    color: white;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.button2 {
    margin-top: 0;
    background: rgb(219, 71, 71);
}

/* ===> INSTRUCTORS */

.card-content {
    display: block;
}

.card-content table {
    width: 100%;
    padding: 4px 35px 35px 35px;

}

thead th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

tbody td {
    padding: 20px;
    border-bottom: 1px solid rgb(228, 228, 228);
    line-height: 40px;
}

/* ===> INSTRUCTORS */

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 6px;
}

tbody span {
    border-radius: 5px;
    border: 1px solid rgb(46, 46, 46)
}

tbody tr:last-child td {
    border-bottom: none;
}

th {
    text-transform: uppercase;
    color: gray;
}

th:last-child {
    text-align: center;
}

td a,
.new {
    text-decoration: none;
    background-color: green;
    padding: 5px 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
}

.new {
    text-align: center;
    margin: 24px 36px 8px 44px;
    display: inline-block;
}

td:last-child {
    text-align: center;
}