{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/instructors">
    
    <section class="avatar">
        
    </section>
        
    <section class="form">

        <h3>novo instrutor</h3>

        <div class="item">
            <div>Avatar_url</div>
            <div>
                <input 
                    type="url" 
                    name="avatar_url_"
                    placeholder="https://"
                >
            </div>
        </div>

        <div class="item">
            <div>Instrutor</div>
            <div>
                <input 
                    type="text" 
                    name="instrutor_"
                    placeholder="Nome do instrutor"
                >            
            </div>
        </div>

        <div class="item">
            <div>idade</div>
            <div>
                <input 
                    type="date" 
                    name="idade_" 
                >
            </div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>
                <span><input type="radio" name="sexo_" value="M" checked>Masculino</span>
                <span><input type="radio" name="sexo_" value="F">Feminino</span>
            </div>
        </div>

        <div class="item">
            <div>
                <div>Área de atuação</div>
            </div>
            <div>
                <input 
                    type="text" 
                    name="area_de_atuacao"
                    placeholder="Separe os serviços prestados por vírgula"
                >
            </div>
        </div>

        <button type="submit">SALVAR</button>

    </section>
</form>


{% endblock content %}