{% extends "layout.njk" %}

{% block content %}

<div class="card">
   
    <section class="avatar">            
    </section>

    <section class="form">
        <form method="POST" action="/instructors?_method=PUT">     
    
            <h3>Editar instrutor</h3>
    
            {% include 'instructors/fields.njk' %}
    
            <input 
                type="hidden" 
                name="id"
                value="{{ found_instructor.id }}"
                >    
        </form>

        <form id="delet-" action="/instructors?_method=DELETE" method="post">        
            <input 
                type="hidden" 
                name="id"
                value="{{ found_instructor.id }}">
        
            <button class="button2" type="submit">DELETAR</button>            
        </form>

    </section>

    <script>
        const confirmDelete = document.querySelector("#delet-")
        confirmDelete.addEventListener("submit", function (event) {
            const confirmation = confirm("Deseja deletar")
            if (!confirmation) {
                event.preventDefault()
            }
        })
    </script>

</div>

{% endblock content %}