{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/instructors?_method=PUT">
    
    <section class="avatar">
        
    </section>
        
    <section class="form">

        <h3>Editar instrutor</h3>

        {% include 'instructors/fields.njk' %}

        <input 
            type="hidden" 
            name="id"
            value="{{ found_instructor.id }}"
            >

    </section>
</form>


{% endblock content %}