{% extends "layout.njk" %}

{% block content %}

<div class="card">
    
    <section class="avatar">
        
    </section>
        
    <section class="form">

        <h3>detalhes</h3>

        <div class="item">
            <div>Instrutor</div>
            <div>Pablo Paiva</div>
        </div>

        <div class="item">
            <div>idade</div>
            <div>29</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>
                <div>Acompanhamento</div>
            </div>
            <div>
                <span>Musculação</span>
                <span>Crossfit</span>     
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>01/01/2019</div>
        </div>

    </section>


{% endblock content %}

