{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar">
        
    </section>

    <section class="formulário">

    </section>
</div>

{% endblock content %}

