{% extends "layout.njk" %}

{% block content %}

<div class="card">
    
    <section class="avatar">
        
    </section>
        
    <section class="form">

        <h3>detalhes</h3>

        <div class="item">
            <div>Instrutor</div>
            <div>{{instructor.instrutor_}}</div>
        </div>

        <div class="item">
            <div>idade</div>
            <div>{{ instructor.data_de_nascimento }}</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>{{ "Masculino" if instructor.sexo_ == "M" else "Feminino" }}</div>
        </div>

        <div class="item">
            <div>
                <div>Acompanhamento</div>
            </div>
            <div>
                {% for atuacao in instructor.area_de_atuacao %}
                <span>{{ atuacao }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>{{ instructor.created_at }}</div>
        </div>

        <a href="/instructors/{{ instructor.id }}/edit" class="button">EDITAR</a>

    </section>


{% endblock content %}

